* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #00B2B3;
  --gray: #555;
  --white: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

nav span {
  color: var(--primary-clr);
  font-size: 2.5rem;
}

.nav-scrolled {
  background-color: #fff;
  padding: 1em 1.5em;
  z-index: 999;
  transition: .3s ease-in;
}

.nav-scrolled .logo {
  color: var(--gray);
}

.nav-scrolled #hamburger {
  color: var(--gray);
}

#hamburger {
  background: none;
  border: none;
  color: #fff;
  float: right;
  font-size: 2rem;
  cursor: pointer;
}

.active {
  color: var(--primary-clr);
}

nav ul {
  text-align: center;
  position: fixed;
  left: -100%;
  right: 0;
  top: 4.5em;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
}

nav ul.open {
  display: block;
  left: 0;
  transition: all 0.5s;
  z-index: 1;
}

nav ul.open a {
  color: var(--gray);
}

nav ul.open a.active,
nav ul.open a:hover {
  color: var(--primary-clr);
}

nav li {
  list-style-type: none;
  padding: 1.5em 0;
  transform: translateY(100%);
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
}

header {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../peter-uadiale/images/home2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 6em;
}

.logo {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
}

.header-body {
  position: relative;
  color: #fff;
  text-align: center;
  top: 40%;
  padding: 0 0.4em;
  margin-bottom: 1.5em;
}

header p {
  font-size: 1rem;
  margin-bottom: .3em;
  opacity: 0;
  transform: translateY(-2rem);
  animation: fadeInDown 2s ease forwards;
}

header h1 {
  font-size: 2.2rem;
  font-family: 'Cousine', monospace;
  position: relative;
}

.header-btn {
  position: relative;
  top: 42%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-body span {
  color: var(--primary-clr);
  text-transform: uppercase;
  padding: 10px;
  border-right: solid var(--primary-clr) 10px;
  animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
  from {
    border-color: var(--primary-clr);
  }
  to {
    border-color: transparent;
  }
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-btn a {
  width: 180px;
  text-decoration: none;
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  border-radius: 10px;
  padding: .8em;
  margin: 0.7em 0;
  text-transform: uppercase;
  font-weight: normal;
}

.header-btn a:hover {
  background-color: var(--primary-clr);
  color: #fff;
  transition: background-color 0.5s;
}

.btn-2 {
  background-color: var(--primary-clr);
  color: #fff !important;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 2rem;
  }

  nav span {
    color: var(--primary-clr);
    font-size: 3.5rem;
  }

  .nav-scrolled {
    padding: 0 1.5em;
  }

  .nav-scrolled .link {
    color: var(--gray);
  }

  .nav-scrolled .link:hover {
    color: var(--primary-clr);
  }

  .nav-scrolled .active {
    color: var(--primary-clr);
  }

  nav ul {
    left: 0;
    position: relative;
    top: 0;
    display: flex;
    background: none;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
  }

  #hamburger {
    display: none;
  }

  nav li {
    transform: translateY(0);
    position: relative;
    padding-right: 1.2em;
    padding-top: 2em;
  }

  nav ul a {
    font-size: 1.2rem;
  }

  nav ul a:hover {
    color: var(--primary-clr);
    transition: ease-out 0.5s;
  }

  .navbar {
    display: flex;
    height: 100%;
    padding: 0 2em;
  }

  .header-body {
    top: 40%;
  }

  header p {
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 4rem;
  }

  .header-btn {
    flex-direction: row;
    justify-content: center;
  }

  .header-btn a {
    margin: 0 0.85em;
    width: 200px;
    padding: 1em;
  }
}

/************** About ***************/
#about {
  padding: 0 1em;
  margin-bottom: 6em;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1em;
}

#about h1 span {
  color: var(--primary-clr);
}

.my-name {
  font-weight: 700;
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 0.6em;
}

#about .col-1 .about-img {
  width: 50%;
  margin: auto;
}

#about .col-1 img {
  max-width: 100%;
}

.col-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.about-content p {
  line-height: 32px;
}

.about-content p:nth-child(2) {
  font-size: 1.0625rem;
}

.my-skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill {
  width: 100%;
  margin: 0.9375em 0;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.skill-bar {
  position: relative;
  background-color: #ddd;
  height: 0.1875em;
}

.skill-bar::after {
  content: "";
  position: absolute;
  height: 0.375em;
  background-color: var(--primary-clr);
  bottom: 0;
}

.html:after {
  width: 92%;
}

.css::after {
  width: 80%;
}

.js::after {
  width: 79%;
}

.xd::after {
  width: 60%;
}

.sass::after {
  width: 80%;
}

.jquery::after {
  width: 82%;
}

.html:after,
.css::after,
.js::after,
.xd::after,
.sass::after,
.jquery::after {
  animation: skillAnim 5s linear forwards;
}

@keyframes skillAnim {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #about {
    padding: 0 3em;
  }

  #about h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
  }

  .col-1 {
    flex-direction: row;
  }

  #about .col-1 .about-img {
    width: 30%;
  }

  .my-name {
    text-align: left;
  }

  .about-content {
    width: 60%;
    justify-content: center;
  }

  .skill {
    width: calc(50% - 1.25em);
  }

  .about-content p:nth-child(2) {
    font-size: 1rem;
  }
}

/************** Services ***************/
#services {
  padding: 2em 1em;
  margin-bottom: 6em;
  background-color: hsl(180, 20%, 23%);
}

#services h1 {
  color: var(--white);
}

#services h1 span {
  color: var(--primary-clr);
}

.serv-img {
  width: 50%;
  margin: auto;
  margin-bottom: 3em;
}

#services img {
  width: 100%;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 1em;
  border: 1px solid var(--primary-clr);
  padding: 0.3em;
}

.service:hover {
  transition: .3s ease-in;
  background-color: var(--primary-clr);
}

.service:hover p,
.service:hover .bi {
  color: var(--white);
}

.service .bi {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: var(--primary-clr);
}

.service p,
.service span,
.service .bi {
  color: var(--white);
}

.service p {
  padding-bottom: 1em;
  line-height: 1.8em;
  font-size: 1rem;
  text-align: center;
}

.service span {
  font-weight: 700;
  font-size: 1.22rem;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 768px) {
  #services {
    padding: 2em 3em;
  }

  #services h1 {
    font-size: 2.5rem;
  }

  .serv-img {
    width: 30%;
  }

  .service-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .service {
    padding: 1em 0;
    width: calc(50% - 1em);
    padding: 1em;
  }

  .service .bi {
    font-size: 1.8rem;
  }

  .service span {
    font-size: 1.4rem;
  }

  .service p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .service {
    width: calc(33% - 1em);
  }
}

/*************** Work ***************/
#work {
  padding: 0 1em;
  margin-bottom: 6em;
}

#work h1 span {
  color: var(--primary-clr);
}

.work-img {
  width: 50%;
  margin: auto;
  margin-bottom: 3em;
}

.work-img img {
  width: 100%;
}

#works-menu {
  display: flex;
  justify-content: center;
  margin: 0 1em;
  margin-bottom: 0.8em;
}

#works-menu li {
  list-style: none;
  margin: 0 0.8em;
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
  border-radius: 100px;
  padding: 0.5em 1em;
}

#works-menu .active {
  background-color: var(--primary-clr);
  color: var(--white);
}

#works-menu li:hover {
  background-color: var(--primary-clr);
  color: var(--white);
  cursor: pointer;
  transition: 200ms ease-in;
}

.work.show {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.work.hide {
  display: none;
}

.fadeIn {
  transform: translateX(0);
  opacity: 1;
  transition: all 2s;
}

img {
  transform: translateX(50%);
  opacity: 0;
  transition: all 2s;
}

.work {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0.5em 0;
  border-radius: 6px;
}

.work::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 172, 255, .8);
  position: absolute;
  opacity: 0;
  transition: 0.4s linear;
  transform: scale(0);
  z-index: 1;
}

.work:hover img {
  transform: scale(1.6) rotate(20deg);
}

.work:hover::before,
.work:hover .work-info {
  opacity: 1;
  transform: scale(1);
}

.work-info {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 2;
  opacity: 0;
}

.work-info h3,
.work-info div {
  color: #fff;
}

.my-works {
  display: grid;
}

.my-works a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 6px;
  transition: 0.4s linear;
}

@media screen and (min-width: 768px) {
  #work {
    padding: 0 3em;
  }

  #work h1 {
    font-size: 2.5rem;
  }

  .work-img {
    width: 30%;
  }

  .my-works {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .my-works {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/************** Contact **************/
#contact {
  padding: 0 1em;
  margin-bottom: 6em;
}

#contact h1 span {
  color: var(--primary-clr);
}

.contact-img {
  width: 50%;
  margin: auto;
  margin-bottom: 3em;
}

.contact-img img {
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.contact-info .item {
  height: 160px;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 6px;
  color: var(--white);
  font-size: 1.05rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: background-color 0.3s ease-in;
  background-color: hsl(180, 20%, 23%);
}

.contact-info .item:hover {
  background-color: var(--primary-clr);
  border: none;
}

.contact-info .item i {
  font-size: 1.5rem;
  line-height: 120px;
  display: block;
  height: 100px;
}

.contact-info i,
.contact-info p {
  color: var(--white);
}

.contact-info .item p {
  font-size: 1.25rem;
  font-weight: 600;
}

.contact-info .item:hover i,
.contact-info .item:hover p {
  color: var(--white);
}

#form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#name,
#email,
#subject,
#message {
  background-color: hsl(180, 20%, 23%);
}

#name,
#email,
#subject,
#message,
#submit {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  color: var(--white);
  outline: none;
  border-radius: 6px;
  font-size: 1.05rem;
  background-color: none;
}

#message {
  resize: vertical;
  min-height: 200px;
  max-height: 500px;
}

::placeholder {
  font-size: 1.05rem;
  text-transform: capitalize;
}

#submit {
  background-color: transparent;
  text-transform: capitalize;
  width: 200px;
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
  margin-right: auto;
  font-weight: 600;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

#submit:hover {
  color: var(--white);
  background-color: var(--primary-clr);
}

@media screen and (min-width: 768px) {
  #contact {
    padding: 0 3em;
  }

  #contact h1 {
    font-size: 2.5rem;
  }

  .contact-img {
    width: 30%;
  }

  #name,
  #email {
    width: 50% !important;
  }

  #form {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

  #name,
  #email {
    max-width: calc(51% - 1em);
  }

  #name,
  #email,
  #subject,
  #message {
    width: 100%;
  }

  .contact-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-info .item {
    width: calc(33% - 1em);
  }
}

/************** Footer ****************/
footer {
  padding: 1em 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../peter-uadiale/images/footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.9em;
}

footer .logo {
  margin-bottom: 0.5em;
}

.social-icons {
  margin-bottom: 1.5em;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  padding-right: 1em;
  transition: color 0.3s ease-in;
}

.social-icons a:hover {
  color: var(--primary-clr);
}

footer span {
  color: var(--primary-clr);
  font-size: 2.5rem;
}

.copyright {
  text-transform: capitalize;
  color: #fff;
  font-size: 1.0625rem;
}

.goToTop{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-clr);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--white);
  outline: none;
  display: none;
}